/* .account-page {
  min-height: 100vh;
  width: 100%;
  padding: 24px;
}
.account-page-management {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 12px;
  height: 100%;
}

.account-page-management p {
  text-align: center;
  width: 100%;
  border-radius: 30rem;
  border: 0.1rem solid #cdcdcd;
  padding: 15px;
}

.account-page-management-items {
  width: 100%;
  height: 100%;
  border: 0.1rem solid #cdcdcd;
  border-radius: 12px;
  padding: 12px;
} */
